.btn:disabled {
    background-color: rgb(134 239 172) !important
  }

.container {
  /* background-color: rgb(255 255 255 / var(--tw-bg-opacity)); */
  background-image: url('../public/images/create-recipe-background.png');
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 50%;
  height: 1000px
}

.image {
  width: auto;
  height: 100%;
  object-fit:'cover'
}

.formContainer {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 66.666667%;
  min-height: 34rem;
  padding: 3rem;
  padding-top: 2.5rem;
  margin: 3rem 0 ;
}

@media (min-width: 800px) {
  .imageContainer {
   width: 60%;
  }
}
@media (max-width: 799px) {
   .container {
      flex-direction: column
   }
   .imageContainer {
    width: 0%;
    height: 0%
   }
   .image {
    display: none
   }
   .formContainer {
    width: 100%;
    padding: 3rem;
  }
}