@tailwind base;
@tailwind components;
@tailwind utilities;

button:disabled {
  opacity: 0.5;
}

.number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid rgb(148 163 184);;
  font-size: 1rem;
}

.numbered-list {
  display: flex;
  margin-bottom: 2rem
}

.numbered-list-number {
  display: flex;
  flex-direction: column;
  align-items: center
}

.numbered-list-line {
  width: 2px;
  height: 3rem;
  background-color: rgb(148 163 184);
}

.numbered-list-text {
  margin-left: 1rem;
  line-height: 1.8;
}

.check-icon {
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9999px;
  background-color: rgb(34 197 94);
  color: rgb(255 255 255);
  margin-top: -1rem;
  margin-left: -1rem
}

h1{
  font-weight: bold;
  font-size: 3rem
}

h2{
  font-weight: bold;
  font-size: 1.875rem
}

h3{
  font-weight: bold;
  font-size: 1.5rem
}

h4{
  font-weight: bold;
  font-size: 1.25rem
}

h5{
  font-weight: bold;
  font-size: 1rem
}